@media(min-width: 768px) {
    #header.ht-menu-sticy > .header-bottom {
        display: block !important;
    }
    #header .header-bottom {
        top: -20px;
        transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
    }
    #header.ht-menu-sticy > .header-bottom {
        position: fixed !important;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1040;
        box-shadow: 0 10px 10px 1px rgba(0,0,0,0.15);
    }
}
@media(max-width: 767px) {
    #header.ht-menu-sticy .header-nav {
        display: block;
    }
}